In [31]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.feature_extraction.text import TfidfTransformer

from sklearn.naive_bayes import GaussianNB
from sklearn.pipeline import Pipeline

In [32]:
question_df = pd.read_csv(r"C:\Users\ADMIN\datasets\question_topic.csv")
question_df.sample(10)

,question_text,question_topic
495,Which laptop has the better screen resolution-...,Product Comparison
3916,I'm looking to buy the Laska Bootie (WEB ITEM:...,Product Comparison
883,If I order Product Code: 149738 and need to ex...,Returns & Refunds
1430,What are the dimensions of the Floral Silk Chi...,Product Specifications
3454,I'm looking for a new pair of flats. Do you ha...,Product Availability
2986,I'm checking out Product Code: 141487. Do you ...,Returns & Refunds
3604,Do you have any turtleneck sweaters in black a...,Product Availability
2563,"Im looking at this table saw (Item # 530411), ...",Product Availability
4405,If I were to get the Spring Passion Tulips [Pr...,Returns & Refunds
4435,I think I want to get the Twill jacket (WEB IT...,Returns & Refunds

In [33]:
question_df.shape

(5000, 2)

In [34]:
question_df['question_topic'].unique()

array(['Sales/Promotions', 'Shipping', 'Product Availability',
       'Product Specifications', 'Omnichannel', 'Product Comparison',
       'Returns & Refunds'], dtype=object)

In [35]:
X = question_df['question_text']
Y = question_df['question_topic']

In [36]:
X.head()

0    Hi! If I sign up for your email list, can I se...
1    I'm going to be out of the country for about a...
2    I was wondering if you'd be able to overnight ...
3    The Swingline electronic stapler (472555) look...
4    I think this cosmetic bag would work great for...
Name: question_text, dtype: object

In [37]:
Y.head()

0    Sales/Promotions
1            Shipping
2            Shipping
3            Shipping
4            Shipping
Name: question_topic, dtype: object

In [38]:
count_vectorizer = CountVectorizer(ngram_range=(2,2))
transformed_vector = count_vectorizer.fit_transform(X)

In [39]:
transformed_vector.shape

(5000, 29892)

In [40]:
tfidf_transformer = TfidfTransformer()
tfidf_vector = tfidf_transformer.fit_transform(transformed_vector)

In [41]:
X_dense=tfidf_vector.todense()

In [42]:
X_dense.shape

(5000, 29892)

In [43]:
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2)

In [44]:
x_train.shape, x_test.shape

((4000,), (1000,))

In [45]:
y_train.shape, y_test.shape

((4000,), (1000,))

In [46]:
def summarize_classification(y_test, y_pred,avg_method='weighted'):
    acc = accuracy_score(y_test, y_pred,normalize=True)
    num_acc = accuracy_score(y_test,y_pred,normalize=True)
    prec = precision_score(y_test, y_pred, average=avg_method)
    recall = recall_score(y_test, y_pred, average=avg_method)

    print("length of testing data:", len(y_test))
    print("accuracy_count:", num_acc)
    print("accuracy_score:", acc)    
    print("precision_count:", prec)
    print("recall_count:", recall)

In [47]:


print(x_train.dtype)
print(y_train.dtype)
print(x_test.dtype)
print(y_test.dtype)

object
object
object
object

In [49]:
from sklearn.feature_extraction.text import CountVectorizer

# Initialize the vectorizer
vectorizer = CountVectorizer()
X_train_counts = vectorizer.fit_transform(x_train)  # x_train is the text data

# Now use the transformed data to fit the model
clf = GaussianNB().fit(X_train_counts.toarray(), y_train)

In [50]:
X_test_counts = vectorizer.transform(x_test)  # Transform x_test using the same vectorizer
y_pred = clf.predict(X_test_counts.toarray())

In [51]:
summarize_classification(y_test, y_pred)

length of testing data: 1000
accuracy_count: 0.875
accuracy_score: 0.875
precision_count: 0.8747759870286163
recall_count: 0.875

In [52]:
y_test.head()

1712               Omnichannel
4446        Product Comparison
566          Returns & Refunds
3278    Product Specifications
2527                  Shipping
Name: question_topic, dtype: object

In [55]:
y_test = np.array(y_test)

In [57]:
pred_results = pd.Dataframe(('y_test': pd.series(y_test),'y_pred': pd.series(y_pred)))
pred_results.sample(10)

SyntaxError: invalid syntax (1586401199.py, line 1)